<div class="footer">
  <div class="footer-links">
  <p> Vous pouvez trouver le projet complet ici<p>
    <a href="https://github.com/sarahdechance/rails-papouie"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Papouïe is made with <i class="fas fa-heart"></i> by Sarah, Aubry, Samuel and Chiara
  </div>
</div>
