.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #b62b62;
  transition: background 0.3s ease;
  margin-top: 30px;
}

.btn-flat:hover {
  background: #f494bc;
  color: white;
}

.btn-text {
  color: white;
  font-size: medium;
}

.btn-text:hover{
  color: black;
}
