.navbar {
  height: 70px;
  background-color: #F4CDDF;
  list-style: none;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-control-navbar {
  width: 800px;
}

.avatar {
  object-fit: cover;
  border: solid black;
}

button {
  border-style : none;
}

form {
  margin-top: 10px;
}

.btn {
 background-color: #B62B62;
}

.btn:hover {
  background-color:#F4CDDF;
}

.form-control-navbar {
  margin: 0 auto;
  border: none;
  border:solid 1px #ccc;
  border-radius: 10px;
}

.search-navbar {
  padding-left: 60px;
  border-radius: 20px;
  margin-right: 18px;
  padding-right: 60px;
}
